* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.container {
  margin-top: 4rem;
}
nav {
  border-radius: 0px 0px 10px 10px;
  height: 11rem;
  z-index: 1;
  border-bottom: 1px solid black;
  /* width: 97%; */
  margin: 0 auto;
}
nav #navbarlist {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav #navbarlist li a {
  color: #fff;
  background-color: #0d6efd;
  padding-left: 4rem;
  font-size: 3rem;
}
.navbar-brand {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 2rem;
}
nav #navbarSupportedContent {
  width: 80%;
  flex-grow: 0;
}
nav.navbar button.navbar-toggler {
  /* margin: 2rem 3rem; */
  margin: 2rem;
  border: 0.5px solid rgba(255, 255, 255, 0.55);
}
nav.navbar-dark .navbar-toggler-icon {
  font-size: 2.3rem;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}
#mainContent {
  background-color: white;
  /* margin-bottom: -10px; */
  height: 100%;
}
#navbarlist button {
  background-color: whitesmoke;
  border: none;
  color: dodgerblue;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 2.5rem;
}
h1 {
  font-size: 7.2rem;
  font-weight: 800;
  /* margin-bottom: 3rem; */
  margin: 3rem auto;
}
h3 {
  font-size: 3.2rem;
  font-weight: 400;
}
nav .container-fluid {
  padding: 0;
}
#mainContent .row {
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20rem 5rem 5rem;
  /* padding: 15rem 5rem 5rem; */
}
.carContainer {
  position: relative;
  height: 75vh;
  /* overflow: hidden; */
}

.homeImage {
  /* transform: scale(1.2); */
  padding-top: 10rem;
}
.car {
  position: absolute;
  bottom: 9rem;
  left: 17rem;
  animation: caranimation 1s linear infinite;
  height: 45rem;
}

@keyframes caranimation {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* *****************GEt StARTED************************** */
/* .getStarted {
  margin-top: 2rem;
} */
.getStarted h2 {
  font-size: 6rem;
  font-weight: 600;
  padding: 5rem 5rem 0rem;
  margin-top: 0rem;
}
.getStarted .content h3 {
  font-size: 2.8rem;
  padding: 0rem 2rem;
  line-height: 3.7rem;
}
.getStarted .emptyBox .whiteBox {
  width: 40%;
  height: 93%;
  background: #e1e7ff;
  border-radius: 32px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

/* ********************ABOUT US********************* */
.aboutUs {
  background: url(/image/bg.png);
  background-size: cover;
  height: 100%;
}
.aboutUs h2 {
  font-size: 6rem;
  font-weight: 600;
  padding: 5rem 5rem 0rem;
  margin-top: 0rem;
  color: #3c3c3c;
}
.aboutUs h3 {
  font-size: 2.8rem;
  padding: 0rem 2rem;
  line-height: 3.7rem;
  text-align: left;
  color: #3c3c3c;
}
.aboutUs h1 {
  font-size: 7rem;
  color: #3c3c3c;
}
.aboutUs .reviewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs .reviewrow {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewBox {
  height: 70%;
  width: 60%;
  background: #ffffff;
  box-shadow: 7px 7px 16px rgba(51, 131, 255, 0.25);
  border-radius: 12px;
  margin: 8rem 3rem;
}
.aboutUs .reviewBox .profile {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.aboutUs .reviewContainer .reviewDescription {
  /* border-top: 2px solid #2C3539; */
  padding: 2rem;
}
.aboutUs .reviewContainer .reviewDescription h3 {
  font-size: 2rem;
  padding: 0rem 1rem;
  line-height: 2.8rem;
  color: #a9a9a9;
  text-align: left;
}
.aboutUs .profile .pdescription .userName {
  font-size: 2rem;
}
.pImage img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 1.5rem;
  object-fit: cover;
}
.blackLine {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #fff 10%,
    #2c3539 10%,
    #2c3539 90%,
    #fff 90%,
    #fff 100%
  );
  text-align: center;
}
.downloadPart .downloadDescription {
  width: 50%;
}
.downloadPart .downloadDescription .dBtns {
  height: 8rem;
  margin: 3rem;
}

/* ***********************About US PAGES**************************** */
/* .aboutContainer .container {
  width: 90%;
} */
.aboutContainer .aboutImage img {
  width: 100%;
}
.aboutContainer .aboutImage {
  height: 60vh;
  background: url(./image/aboutUs1.png);
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: end;
}
.aboutContainer .aboutImage h1,
.aboutContainer .aboutCeoContent h1 {
  color: white;
  font-weight: 600;
  font-size: 8rem;
  margin-left: 5rem;
}
.aboutContainer .startingContent {
  margin: 4rem 5rem;
  width: 90%;
}
.aboutContainer .startingContent h3 {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 400;
  color: #3c3c3c;
}
.aboutContainer .startingContent h1 {
  font-size: 7rem;
  color: #3c3c3c;
  font-weight: 500;
}
.aboutContainer .startingContent h2 {
  font-size: 4rem;
  color: #555555;
  font-weight: 500;
  margin: 3rem auto;
}
.aboutContainer .aboutCeoContent {
  background: url(./image/aboutUs2.png);
  height: 70vh;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.85;
  margin: 5rem 0;
}
.aboutContainer .aboutCeoContent h3 {
  color: #fff;
  width: 90%;
  margin-left: 5rem;
}
.aboutContainer .aboutCeoContent h2 {
  color: #fff;
  width: 50%;
  height: 4rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutContainer .aboutCeoContent .ceoButton {
  height: 4rem;
  width: 40%;
}
.aboutContainer .divideSections {
  color: #fff;
}
.aboutContainer .aboutFirstRow,
.aboutContainer .aboutSecondRow {
  margin: 8rem auto;
}
.aboutFirstRow .dsImage,
.aboutSecondRow .dsImage {
  height: 75vh;
}
.aboutContainer .divideSections .dsContent h1 {
  font-size: 5.5rem;
  font-weight: 600;
}
.aboutContainer .divideSections .aboutSecondRow .dsContent {
  border-radius: 0px 100px 100px 0px;
}
.aboutContainer .divideSections .aboutFirstRow .dsContent {
  border-radius: 100px 0px 0px 100px;
}
.aboutContainer .divideSections .dsContent {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
}
.aboutContainer .divideSections .dsContent h3 {
  font-size: 2.8rem;
  font-weight: 400;
}
.aboutContainer .divideSections .dsImage img {
  height: 100%;
  width: 100%;
}
.aboutContainer .aboutInfoSection {
  flex-direction: row;
}

.aboutContainer .aboutCard {
  width: 25%;
  /* margin: 10rem 0; */
  margin: 5rem 0;
}
.aboutContainer .aboutCard h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2rem 0;
}
.aboutContainer .aboutCard p {
  font-size: 2rem;
}
.aboutContainer .bikeSection .bikeSectionImage {
  width: 45%;
}
.aboutContainer .bikeSection .bikeSectionContent {
  width: 55%;
}
.aboutContainer .bikeSection .bikeSectionContent h1 {
  font-weight: 500;
  font-size: 6rem;
  margin-bottom: 5rem;
}
.aboutContainer .bikeSection .bikeSectionContent h3 {
  font-weight: 400;
  margin: 3rem 0;
  font-size: 3rem;
}

.aboutContainer .learnMoreBtn a {
  font-size: 2rem;
  border-bottom: 2px solid #0d6efd;
  font-weight: 400;
  text-decoration: none;
}
.aboutContainer .globeSection {
  width: 80%;
  margin: 8rem auto;
}
.aboutContainer .globeSection .globeSectionImage {
  width: 60%;
}
.aboutContainer .globeSection .globeSectionContent {
  width: 40%;
}
.aboutContainer .globeSection .globeSectionContent h2 {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  width: 50%;
  text-align: center;
}
.aboutContainer .bikeSection,
.newsContainer .newsHeader {
  width: 90%;
  margin: 5rem auto;
}

/* ****************************NEWS PAGE **************************** */
.newsContainer .newsImage img {
  width: 100%;
}
.newsContainer .newsImage {
  height: 65vh;
  background: url(./image/NewsImage.png);
  background-size: cover;
  display: flex;
}
.newsContainer .newsImage .newsImageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  margin: 4rem auto;
}
.newsContainer .newsImage h1 {
  color: white;
  font-weight: 600;
  font-size: 8rem;
  margin: 0;
}
.newsContainer .newsImage h3 {
  color: white;
  font-weight: 600;
  font-size: 4rem;
}
.newsContainer .newsHeader {
  height: 60vh;
  width: 90%;
}
.newsContainer .newsHeader h2 {
  color: #3c3c3c;
  font-weight: 600;
  font-size: 4rem;
}
.newsContainer .newsHeader h1 {
  color: #3c3c3c;
  font-weight: 600;
  font-size: 7rem;
  margin: 5rem auto;
}
.newsContainer .newsCorporate,
.newsContainer .latestNews {
  width: 90%;
  margin: 5rem auto;
}
.newsCorporateShowDiv {
  display: block;
}
.newsCorporateHideDiv {
  display: none;
}
.newsContainer .newsCorporate h1,
.newsContainer .latestNews h1 {
  color: #3c3c3c;
  font-size: 6rem;
  font-weight: 600;
}
.newsContainer .newsCorporate ul,
.newsContainer .latestNews ul {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.newsContainer .newsCorporate ul {
  overflow: auto;
  white-space: nowrap;
  display: block;
}
.newsContainer .newsCorporate ul::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.newsContainer .newsCorporate ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.newsContainer .newsCorporate li,
.newsContainer .latestNews li {
  margin-right: 3rem;
  cursor: pointer;
}
.newsContainer .newsCorporate li a {
  text-decoration: none;
  color: #3c3c3c;
}
.newsContainer .newsCorporate li:first-child,
.newsContainer .latestNews li:first-child {
  border-bottom: 2px solid black;
}
.newsCorporateListItems {
  display: inline-block;
}
.newsContainer .newsFirstRow .dsContent {
  border-radius: 60px 0px 0px 60px;
  padding: 8rem;
}
.newsContainer .newsFirstRow .dsImage {
  padding: 5rem 0;
  padding-left: 5rem;
  display: flex;
  justify-content: flex-end;
}
.newsContainer .newsFirstRow .dsContent h1 {
  font-weight: 400;
  font-size: 5rem;
  color: #fff;
}
.newsContainer .newsFirstRow .dsContent h3 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}
.newsContainer .latestNews hr,
.financialsContainer .financialsMainContent hr,
.newsEventsContainer .newsEventsMainContent hr {
  margin: 0;
}
.newsContainer .latestNews .newsItem,
.newsEventsContainer .newsEventsMainContent .newsItem {
  margin-top: 3rem;
}

.newsContainer .latestNews .newsItem .date,
.newsEventsContainer .newsEventsMainContent .newsItem .date {
  font-size: 2rem;
  color: #555555;
}
.newsContainer .latestNews .newsItem .newsContent,
.newsEventsContainer .newsEventsMainContent .newsItem .newsContent {
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 500;
  color: #555555;
}
.newsContainer .readMoreBtn a,
.newsEventsContainer .newsEventsMainContent .newsItem .readMoreBtn a,
.governaceContainer .governaceMainContent .governaceMeetings a {
  font-size: 2.5rem;
  border-bottom: 2px solid #0d6efd;
  font-weight: 400;
  text-decoration: none;
  margin-top: 2rem;
}
.newsContainer .readMoreBtn,
.newsEventsContainer .newsEventsMainContent .newsItem .readMoreBtn {
  margin-top: 1rem;
}
.newsContainer .viewAllBtn button,
.newsEventsContainer .newsEventsMainContent .viewAllBtn button {
  font-size: 2.5rem;
}
.newsContainer .newslinkBtns {
  width: 100%;
  padding: 2rem auto;
  display: flex;
  justify-content: space-around;
  background: #f6f6f7;
}
.newsContainer .newslinkBtns .financialBtnWrapper,
.newsContainer .newslinkBtns .newsEventsBtnWrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  margin: 5rem 2rem;
  /* border: 2px solid red; */
}
.newsContainer .newslinkBtns .moneyIcon,
.newsContainer .newslinkBtns .calendarIcon {
  font-size: 4rem;
  background: #3c3c3c;
  color: #fff;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsContainer .newslinkBtns .financialBtnContent,
.newsContainer .newslinkBtns .newsEventsBtnContent {
  font-size: 4rem;
  font-weight: 600;
  padding: 2rem;
  color: #3c3c3c;
  background: #fff;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* *****************CONTACTUS PAGE******************** */
.contactContainer .contactImage {
  width: 100%;
  background: url(/image/contactbackground.png);
  height: 70vh;
  background-size: cover;

  margin: 3rem auto;
}
.contactContainer .contactImage img {
  width: 100%;
}

.contactContainer .contactImage .contactImageContent {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-end;
  width: 90%;
  margin: 4rem auto;
  height: 90%;
}
.contactContainer .contactImage h1 {
  color: white;
  font-weight: 600;
  font-size: 8rem;
}

.contactContainer .contactHeader {
  height: 30vh;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto;
}
.contactContainer .contactHeader h2 {
  color: #bbbbbb;
  font-weight: 600;
  font-size: 4rem;
}
.contactContainer .contactHeader .blackLine {
  width: 100%;
  height: 2px;
  text-align: center;
  background: black;
}
.contactContainer .blueWhiteContainers .blueArrow1 {
  background: url(/image/blueWhiteArrowBG1.png);
  background-size: 60% 20%;
  padding: 5rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.contactContainer .blueWhiteContainers .blueArrow1 h1,
.contactContainer .blueWhiteContainers .blueArrow1 h3 {
  color: white;
}
.contactContainer .blueWhiteContainers .blueArrow1 h1 {
  font-size: 5rem;
  font-weight: 500;
}
.contactContainer .blueWhiteContainers .blueArrow1 h3 {
  font-size: 3rem;
  font-weight: 400;
}
.contactContainer .blueWhiteContainers .whiteArrow1 {
  background: url(/image/blackWhiteArrowBG1.png);
  background-size: 70% 20%;
  background-repeat: no-repeat;
  padding: 5rem;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -7rem;
}
.contactContainer .blueWhiteContainers .whiteArrow1 h2,
.contactContainer .blueWhiteContainers .whiteArrow2 h2,
.contactContainer .blueWhiteContainers .whiteArrow3 h2 {
  font-size: 5rem;
  color: #3c3c3c;
  margin-top: 8rem;
  font-weight: 600;
}

.contactContainer .blueWhiteContainers .whiteContainers .whiteContentWrapper,
.contactContainer .blueWhiteContainers .blueContainers .blueContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5rem; */
}
.contactContainer
  .blueWhiteContainers
  .whiteContainers
  .whiteContentWrapper
  .whiteContent {
  padding: 6rem;
  color: #3c3c3c;
}
.contactContainer
  .blueWhiteContainers
  .blueContainers
  .blueContentWrapper
  .blueContent {
  color: white;
  padding: 6rem;
}
.contactContainer .blueWhiteContainers .blueContainers.blueArrow2,
.contactContainer .blueWhiteContainers .blueContainers.blueArrow3 {
  padding: 5rem;
}
.contactContainer .blueWhiteContainers .blueImage,
.contactContainer .blueWhiteContainers .whiteImage {
  width: 40%;
}
.contactContainer .blueWhiteContainers .blueContent,
.contactContainer .blueWhiteContainers .whiteContent {
  width: 60%;
}
.contactContainer
  .blueWhiteContainers
  .whiteContainers
  .whiteContentWrapper
  .whiteContent
  a {
  color: #3c3c3c;
}
.contactContainer .blueWhiteContainers .blueArrow2 h2 {
  font-size: 5rem;
  font-weight: 600;
}
.contactContainer .blueWhiteContainers .whiteArrow2 {
  background: url(/image/blackWhiteArrowBG2.png);
  background-size: 75% 10%;
  background-repeat: no-repeat;
  padding: 5rem;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  background-position-y: bottom;
}
.contactContainer .blueWhiteContainers .blueArrow3 {
  background: url(/image/blueWhiteArrowBG2.png),
    url(/image/blueWhiteArrowBG3.png);
  background-repeat: repeat;
  /* background-size: auto; */
  background-size: 75% 10%, 75% 10%;
  background-repeat: no-repeat;
  background-position-y: top, bottom;
  padding: 5rem;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* top: -7rem; */
}
.contactContainer .blueWhiteContainers .whiteArrow3 {
  background: url(/image/blackWhiteArrowBG3.png);
  background-size: 75% 10%;
  background-repeat: no-repeat;
  padding: 5rem;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
}
/* *****************************LEFT RIGHT BOXES**************************** */
.contactContainer .leftRightBoxes {
  /* width: 90%;
  margin: auto; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contactContainer .leftRightBoxes .leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 65%;
}
.contactContainer .leftRightBoxes .rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 65%;
  align-self: end;
}
.contactContainer .leftRightBoxes .BoxContent .BoxInnerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactContainer .leftRightBoxes .BoxImage {
  width: 40%;
  display: flex;
  justify-content: center;
}
.contactContainer .leftRightBoxes .BoxContent {
  width: 60%;
}
.contactContainer .leftRightBoxes .BoxContent h2,
.contactContainer .reimagineContainer h2 {
  font-size: 4rem;
  color: #3c3c3c;
  /* margin-top: 8rem; */
  font-weight: 600;
}
.contactContainer .leftRightBoxes .BoxContent h3 {
  font-size: 2.5rem;
  color: #555555;
  /* margin-top: 8rem; */
  font-weight: 400;
}
.contactContainer .reimagineContainer {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
}
.contactContainer .reimagineContainer hr.newsDivider {
  background-color: black;
  opacity: 1;
  height: 2px;
}
.contactContainer .reimagineContainer .newsItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.contactContainer .reimagineContainer .newsItem .role {
  width: 35%;
}
.contactContainer .reimagineContainer .newsItem .subteam,
.contactContainer .reimagineContainer .newsItem .location {
  width: 27%;
}
.contactContainer .reimagineContainer .newsItem .reimagineBox h3 {
  font-size: 2.5rem;
  color: #555555;
  font-weight: 400;
}
.contactContainer .reimagineContainer .newsItem .reimagineBox h2 {
  font-size: 2.5rem;
  color: #3c3c3c;
  font-weight: 400;
}
.contactContainer .reimagineContainer .reimagineButton h3 {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  width: 20%;
  text-align: center;
}
.contactContainer .lastContactSection {
  background: url(/image/blackWhiteArrowBG4.png);
  background-size: 75% 20%;
  background-repeat: no-repeat;
  padding: 5rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-position-y: bottom;
  position: relative;
  bottom: -40px;
}
.contactContainer .lastContactSection .lastContactHeader {
  width: 100%;
  justify-content: space-between;
}
.contactContainer .lastContactSection .lastContactHeader .BoxInnerContent {
  display: flex;
}
.contactContainer .lastContactSection .lastContactHeader .lastContactBox {
  width: 47%;
  border-bottom: 1px solid black;
}
.contactContainer .lastContactSection .lastContactHeader .BoxInnerContent h1 {
  font-weight: 600;
  font-size: 6rem;
  color: #3c3c3c;
}
.contactContainer .lastContactContent {
  margin: 3rem auto 8rem;
}
.contactContainer .lastContactContent h3 {
  color: #3c3c3c;
  font-size: 3rem;
  line-height: 1.5;
  text-align: justify;
}
/* **************************FINANCIALS PAGE********************** */
.financialsContainer .financialsHeader,
.newsEventsContainer .newsEventsHeader,
.governaceContainer .governaceHeader {
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 5rem;
  width: 100%;
  justify-content: flex-start;
}
.financialsContainer .financialsHeader h1,
.newsEventsContainer .newsEventsHeader h1,
.governaceContainer .governaceHeader h1 {
  font-weight: 600;
}
.financialsMainContent,
.newsEventsMainContent,
.governaceMainContent {
  width: 90%;
  margin: 5rem auto;
}
.financialsContainer .financialsMainContent ul,
.newsEventsContainer .newsEventsMainContent ul {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
}
.financialsContainer .financialsMainContent li:first-child,
.newsEventsContainer .newsEventsMainContent li:first-child,
.governaceContainer .governaceMainContent li:first-child {
  border-bottom: 2px solid black;
}
.financialsContainer .financialsMainContent li,
.newsEventsContainer .newsEventsMainContent li,
.governaceContainer .governaceMainContent li {
  margin-right: 3rem;
  color: #3c3c3c;
  cursor: pointer;
}
.financialsContainer .financialsMainContent .financialsReportsListHeader {
  width: 70%;
}
.financialsContainer .financialsMainContent .financialsSECListHeader {
  width: 95%;
}
.financialsContainer .financialsMainContent .financialsReportsListHeader select,
.financialsContainer .financialsMainContent .financialsSECListHeader select {
  word-wrap: normal;
  color: #3c3c3c;
  font-size: 3rem;
  background: white;
  margin: 2rem 1rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.75rem 1rem;
}
.financialsContainer .financialsMainContent .financialsReportsListHeader h4,
.financialsContainer .financialsMainContent .financialsSECListHeader h4 {
  color: #3c3c3c;
  font-size: 3rem;
  margin: 1rem;

  padding: 0.5rem 1rem;
}
.financialsContainer .financialsMainContent .financialsReportsList,
.financialsContainer .financialsMainContent .financialsSECList {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.financialsContainer
  .financialsMainContent
  .financialsReportsList
  .financialsReportsListQuarter {
  width: 25%;
}
.financialsContainer
  .financialsMainContent
  .financialsSECList
  .financialsSECListQuarter {
  width: 15%;
}
.financialsContainer
  .financialsMainContent
  .financialsSECList
  .financialsSECfilingType {
  width: 15%;
}
.financialsContainer
  .financialsMainContent
  .financialsSECList
  .financialsSECfilingDescription {
  width: 35%;
}
.financialsContainer
  .financialsMainContent
  .financialsReportsList
  .financialsReportsListContent {
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: #0064ff;
}
.financialsContainer
  .financialsMainContent
  .financialsSECList
  .financialsSECListContent {
  width: 25%;
  display: flex;
  justify-content: space-between;
  color: #0064ff;
}
.financialsContainer .financialsMainContent .financialsReportsList h3,
.financialsContainer .financialsMainContent .financialsSECList h3,
.governaceContainer .governaceMainContent .governaceMeetings h4 {
  font-size: 2.3rem;
  margin: 2rem 0;
}
.financialsSEC {
  display: none;
}
/* ********************************GOVERNACE PAGE******************************** */
.governaceContainer .governaceMainContent ul {
  /* display: flex;
  align-items: center; */
  font-size: 3rem;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  white-space: nowrap;
  display: block;
}

.governaceListItem {
  display: inline-block;
}
.governaceContainer .governaceMainContent .governaceMeetings .readMoreBtn {
  width: 23%;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}
.governaceContainer .governaceMainContent .governaceDocuments .newsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.governaceContainer .governaceMainContent .governaceMeetings .readMoreBtn a {
  text-decoration: none;
  border-bottom: none;
}
.governaceContainer .governaceMainContent .governaceDocuments .newsContent {
  font-size: 2.5rem;
  /* margin-top: 2rem; */
  font-weight: 500;
  color: #555555;
}
.governaceContainer
  .boardOfDirector
  .governaceDocuments
  .newsItem
  .readMoreBtn {
  font-size: 2.3rem;
  margin: 2rem 0;
  font-weight: 500;
  color: #555555;
  width: 70%;
  text-align: left;
}
.governaceContainer
  .boardOfDirector
  .governaceDocuments
  .newsItem
  .newsContent {
  font-size: 2.5rem;
  /* margin-top: 2rem; */
  font-weight: 500;
  color: #3c3c3c;
  width: 25%;
}
/* ******************************LEADERSHIP PAGE********************** * */
.leadershipCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.leadershipCards .leadershipCard {
  margin-top: 3rem;
}
.leadershipCards .leadershipCard .lCardHeader .lCardName h2 {
  margin: 1rem 0;
  font-size: 3rem;
}
.leadershipCards .leadershipCard .lCardHeader .lCardPost h3 {
  font-size: 2rem;
}
.compositionContainer .committeeHeader {
  font-size: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.compositionContainer .firstBlock {
  width: 25%;
}
.compositionContainer .secondBlock {
  width: 35%;
  display: flex;
  justify-content: center;
}
.compositionContainer .thirdBlock,
.compositionContainer .fourthBlock {
  width: 15%;
  display: flex;
  justify-content: center;
}
.compositionContainer .thirdBlock h2{
margin: 0 1rem;margin-right: 2rem;
  font-size: 2.5rem;
}
/* **************************NEWS AND EVENTS PAGE********************** */
/* .newsEventsContainer .newsEventsHeader {
  height: 70vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
} */
/* ****************************Footer********************* */

footer .footerContainer {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  color: #fff;
  padding-top: 5rem;
}
footer .fbox {
  width: 20%;
}
footer .fbox1 {
  margin-bottom: 5rem;
}
footer .fbox1 h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #3c3c3c;
}
footer .fbox1 h5 {
  font-size: 2rem;
  margin-bottom: 5rem;
}
.fab {
  font-size: 3rem;
  margin-right: 2rem;
}
footer .fbox2 h3 {
  color: #cbcbcb;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
footer .fbox2 h4,
footer .fbox3 h4 {
  font-size: 2rem;
  /* margin-bottom: 3rem; */
}
footer .lowerFooter {
  background: #0553c9;
  color: #cbcbcb;
  /* position: fixed;
  bottom: 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
}
footer .lowerFooter h4 {
  display: inline-block;
}
/* *********************MEDIA QUERIES**************************** */
@media (max-width: 1250px) {
  html {
    font-size: 60%;
  }
  .carContainer {
    height: 50vh;
  }
  .car {
    left: 96px;
    bottom: 5rem;
    transform: scale(0.8);
  }
  .homeImage {
    transform: scale(1.5);
    padding-top: 10rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  nav #navbarlist li a {
    padding-left: 4rem;
    font-size: 2.65rem;
  }
  /* .contactContainer .blueWhiteContainers .blueArrow1 {
    height: 130vh;
  } */
}

@media (max-width: 983px) {
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: -100%;
    transition: all 0.2s ease;
  }

  .navbar-collapse.show .navbar-nav {
    position: fixed;
    /* display: block; */
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    flex-direction: column;
    height: 67vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  nav #navbarlist {
    width: 65%;
    background: #0d6efd;
    margin-top: 8rem;
    height: 95vh;
  }
  html {
    font-size: 55%;
  }
  .carContainer {
    height: 35vh;
  }
  .car {
    left: 96px;
    bottom: 0rem;
    height: 40rem;
  }

  .homeImage {
    transform: scale(1.2);
    padding-top: 0rem;
  }
  .homerow2 {
    padding-top: 15rem;
  }
  /* .getStarted {
    margin-top: 8rem;
  } */
  .contactContainer {
    /* width: 90%; */
    margin: 3rem auto;
  }
  .getinTouchWrapper {
    flex-direction: column-reverse;
  }

  .aboutContainer .divideSections .aboutSecondRow .dsContent {
    order: 2;
  }
  .aboutFirstRow .dsImage,
  .aboutSecondRow .dsImage {
    height: 65vh;
  }
  .aboutContainer .aboutCeoContent h2 {
    width: 100%;
  }
  .contactContainer
    .blueWhiteContainers
    .blueContainers
    .blueContentWrapper
    .blueContent,
  .contactContainer
    .blueWhiteContainers
    .whiteContainers
    .whiteContentWrapper
    .whiteContent {
    padding: 2.3rem;
  }
  .contactContainer .leftRightBoxes .rightBox,
  .contactContainer .leftRightBoxes .leftBox {
    /* align-items: unset; */
    /* justify-content: center; */
    width: 80%;
    margin: 1rem auto;
  }
  .newsContainer .newsFirstRow .dsImage {
    padding: 5rem 5rem 0;
    /* padding-left: 5rem; */
    display: flex;
    justify-content: center;
  }
  /* .contactContainer .blueWhiteContainers .blueArrow1 {
    height: 150vh;
  } */
  .contactContainer .lastContactContent {
    height: 80vh;
  }
  .contactContainer .blueWhiteContainers .whiteArrow1,
  .contactContainer .blueWhiteContainers .whiteArrow2 {
    background-size: 60% 10%;
  }
  .contactContainer .blueWhiteContainers .blueArrow3 {
    background-size: 60% 10%, 60% 10%;
  }
  .contactContainer .blueWhiteContainers .whiteArrow1 {
    top: -3rem;
  }
  .contactContainer .blueWhiteContainers .blueArrow1 {
    background-size: 60% 10%;
  }
}

@media (max-width: 788px) {
  .car {
    left: 20rem;
    bottom: 3rem;
    height: 35rem;
    width: 40rem;
  }
  /* .getStarted {
    margin-top: 6rem;
  } */
  .reviewBox {
    width: 80%;
  }
  .downloadPart .downloadDescription {
    width: 80%;
  }

  .aboutContainer .bikeSection .bikeSectionContent h1 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
  .aboutContainer .bikeSection .bikeSectionContent h3 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  .newsContainer .newsCorporate ul {
    flex-wrap: wrap;
  }
  .newsContainer .newslinkBtns {
    flex-direction: column;
  }
  .newsContainer .newslinkBtns .financialBtnWrapper,
  .newsContainer .newslinkBtns .newsEventsBtnWrapper {
    width: 80%;
    height: 15rem;
    margin: 5rem auto;
  }
  .contactContainer .blueWhiteContainers .whiteContainers .whiteContentWrapper,
  .contactContainer .blueWhiteContainers .blueContainers .blueContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 5rem; */
  }
  .contactContainer .blueWhiteContainers .blueImage,
  .contactContainer .blueWhiteContainers .whiteImage {
    order: 1;
  }
  .contactContainer .blueWhiteContainers .blueContent,
  .contactContainer .blueWhiteContainers .whiteContent {
    order: 2;
  }
  .contactContainer .blueWhiteContainers .blueImage,
  .contactContainer .blueWhiteContainers .whiteImage,
  .contactContainer .blueWhiteContainers .blueContent,
  .contactContainer .blueWhiteContainers .whiteContent {
    width: 70%;
  }

  .contactContainer .blueWhiteContainers .blueArrow1 {
    background-size: 60% 5%;
  }

  .contactContainer .blueWhiteContainers .whiteArrow2 {
    height: 55vh;
    padding: 2rem;
  }
  /* .contactContainer .blueWhiteContainers .blueContainers.blueArrow2,
  .contactContainer .blueWhiteContainers .blueContainers.blueArrow3 {
    padding: 12rem 5rem 5rem;
  } */
  .contactContainer .reimagineContainer .reimagineButton h3 {
    width: 40%;
  }
  .contactContainer .lastContactSection .lastContactHeader {
    flex-direction: column;
  }
  .contactContainer .lastContactSection .lastContactHeader .lastContactBox {
    width: 100%;
  }
  .financialsContainer .financialsMainContent .financialsReportsList h3 {
    font-size: 1.8rem;
    margin: 2rem 1rem;
  }
}

@media (max-width: 620px) {
  footer .footerContainer {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
  }
  footer .fbox {
    width: 50%;
  }
  footer .fbox2 {
    border-top: 2px solid white;
    padding: 3rem 0;
    margin: 3rem 0;
  }
  footer .fbox3 {
    border-top: 2px solid white;
    padding: 3rem 0;
    margin: 3rem 0;
  }
  .aboutUs .reviewrow {
    width: 60%;
  }
  .aboutUs .reviewBox {
    margin: 5rem 3rem;
  }
  .reviewContainer {
    flex-direction: column;
  }

  .aboutContainer .startingContent {
    margin-left: 3rem;
  }

  .aboutContainer .aboutInfoSection {
    flex-direction: column;
  }
  .aboutContainer .aboutCard {
    width: 65%;
    margin: 5rem auto;
  }

  .aboutContainer .bikeSection {
    flex-direction: column;
    width: 100%;
  }
  .aboutContainer .bikeSection .bikeSectionImage {
    width: 90%;
    order: 1;
  }
  .aboutContainer .bikeSection .bikeSectionContent {
    width: 90%;
    order: 2;
  }
  .aboutContainer .globeSection {
    flex-direction: column;
  }
  .aboutContainer .globeSection .globeSectionImage,
  .aboutContainer .globeSection .globeSectionContent {
    width: 90%;
    margin: 3rem auto;
  }
  .contactContainer .blueWhiteContainers .blueImage,
  .contactContainer .blueWhiteContainers .whiteImage,
  .contactContainer .blueWhiteContainers .blueContent,
  .contactContainer .blueWhiteContainers .whiteContent {
    width: 90%;
  }
  .contactContainer .leftRightBoxes .leftBox,
  .contactContainer .leftRightBoxes .rightBox {
    flex-direction: column;
    margin: 5rem auto;
    height: 100%;
  }
  .contactContainer .leftRightBoxes .BoxImage {
    order: 1;
    width: 90%;
    margin: 2rem auto;
    height: 35vh;
  }
  .contactContainer .leftRightBoxes .BoxContent {
    order: 2;
    width: 90%;
  }
  .newsContainer .newsCorporate li,
  .newsContainer .latestNews li {
    margin-top: 1.2rem;
  }
  .contactContainer .lastContactContent {
    height: 120vh;
  }
  .contactContainer .blueWhiteContainers .whiteArrow1 {
    top: -1rem;
  }
  .contactContainer .blueWhiteContainers .blueArrow3 {
    background-size: 60% 3.5%, 60% 5%;
    height: 75vh;
    padding: 8rem 1rem;
  }
  .contactContainer .blueWhiteContainers .whiteArrow1,
  .contactContainer .blueWhiteContainers .whiteArrow2 {
    background-size: 60% 5%;
  }
  .contactContainer .blueWhiteContainers .whiteArrow3 {
    background-size: 60% 8%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 40%;
  }
  .car {
    left: 116px;
    bottom: 15rem;
    height: 40rem;
  }
  .homeImage {
    padding-top: 0;
  }
  .homerow2 {
    padding-top: 5rem;
  }
  /* .getStarted {
    margin-top: 4rem;
  } */
  .aboutUs .reviewrow {
    width: 80%;
  }
  footer .fbox {
    width: 80%;
  }
  .aboutContainer .startingContent {
    margin-left: 1rem;
  }

  .aboutFirstRow .dsImage,
  .aboutSecondRow .dsImage {
    height: 40vh;
  }
  .getStarted .emptyBox {
    display: none !important;
  }
  .aboutContainer .aboutCard {
    width: 85%;
    margin: 5rem auto;
  }
  .contactContainer .contactHeader {
    height: 20vh;
  }
  .newsContainer .newsHeader {
    height: 45vh;
  }
  .contactContainer .blueWhiteContainers .whiteArrow1 {
    height: 70vh;
    top: -1rem;
    padding: 1rem;
  }
  .contactContainer .blueWhiteContainers .whiteArrow3 {
    height: 30vh;
    padding: 2rem;
  }
  .contactContainer .leftRightBoxes .BoxImage {
    justify-content: flex-start;
  }
  .contactContainer .leftRightBoxes .rightBox,
  .contactContainer .leftRightBoxes .leftBox {
    width: 95%;
  }
  .contactContainer .lastContactSection {
    padding: 2rem;
  }
  .contactContainer .lastContactContent {
    height: 65vh;
  }
  .contactContainer .blueWhiteContainers .blueArrow1 {
    height: 85vh;
    padding: 2.7rem;
  }
  .contactContainer
    .blueWhiteContainers
    .blueContainers
    .blueContentWrapper
    .blueContent,
  .contactContainer
    .blueWhiteContainers
    .whiteContainers
    .whiteContentWrapper
    .whiteContent {
    padding: 1rem;
  }
  .contactContainer .blueWhiteContainers .blueContainers.blueArrow2,
  .contactContainer .blueWhiteContainers .blueContainers.blueArrow3 {
    padding: 2rem 1rem;
  }
  .contactContainer .lastContactSection {
    background-size: 60% 6%;
  }
  .financialsContainer .financialsMainContent .financialsReportsListHeader {
    width: 90%;
  }
  .financialsContainer .financialsMainContent .financialsSECListHeader {
    display: block !important;
    overflow: auto;
    white-space: nowrap;
  }
  .financialsContainer .financialsMainContent .financialsSECListHeader #SECyear,
  .financialsContainer
    .financialsMainContent
    .financialsSECListHeader
    #SECfilingtype,
  .financialsContainer
    .financialsMainContent
    .financialsSECListHeader
    #SECfilingDescription,
  .financialsContainer
    .financialsMainContent
    .financialsSECListHeader
    #SECdownload {
    display: inline-block;
  }
  .financialsContainer .financialsMainContent .financialsSECList,
  .financialsSECListItem {
    display: block !important;
    overflow: auto;
    white-space: nowrap;
  }
  .financialsContainer
    .financialsMainContent
    .financialsSECList
    .financialsSECListQuarter {
    width: 30vw;
    display: inline-block;
  }
  .financialsContainer
    .financialsMainContent
    .financialsSECList
    .financialsSECfilingType {
    width: 25vw;
    display: inline-block;
  }
  .financialsContainer
    .financialsMainContent
    .financialsSECList
    .financialsSECfilingDescription {
    width: 60vw;
    display: inline-block;
    white-space: normal;
  }

  .financialsContainer
    .financialsMainContent
    .financialsSECList
    .financialsSECListContent {
    width: 50vw;
    display: inline-block;
    justify-content: space-between;
  }
  .financialsContainer
    .financialsMainContent
    .financialsSECList
    .financialsSECListContent
    h3 {
    display: inline-block;
    margin: 1rem 2rem;
    /* justify-content: space-between; */
  }
  .leadershipCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .leadershipCards .leadershipCard {
    margin-top: 5rem;
  }
  .leadershipCards .leadershipCard .lCardHeader .lCardName h2 {
    margin: 1rem 0;
    font-size: 4rem;
    text-align: center;
  }
  .leadershipCards .leadershipCard .lCardHeader .lCardPost h3 {
    font-size: 3rem;
    text-align: center;
  }
  .annualMeetingHeading {
    font-size: 3.8rem;
  }
  .governaceContainer .governaceMainContent .governaceMeetings .readMoreBtn {
    width: 50%;
  }.compositionContainer .secondBlock {
    width: 27%;}
    .compositionContainer .committeeHeader{
      font-size: 2.25rem;
    }
    #committeeLegend{
width: 62%;
    }
}
@media (max-width: 400px) {
  html {
    font-size: 36%;
  }
  .car {
    left: 96px;
    bottom: 10rem;
    height: 35rem;
    width: 40rem;
  }
  .aboutContainer .aboutInfoSection {
    flex-direction: column;
  }
  .aboutContainer .aboutInfoSection .aboutCard {
    width: 75%;
    margin: 2rem auto;
  }
  .contactContainer .blueWhiteContainers .blueArrow1 {
    height: 100vh;
  }.compositionContainer .secondBlock {
    width: 20%;}
}
